body, div, ul, nav {
    margin:0px;
    padding:0px;
    -webkit-text-size-adjust: none;
}

nav h1 {
    font-size: 150%;
    text-align:center;
}

body {
    color: #99FF99;
    background: #000000;
    font-family: helvetica, veldana, arial, sana-serif;
}

ul#social {
    text-align:center;
}

ul#social li{
    list-style: none;
    padding: 5px;
    margin-right: 3px;    
    display:inline-block;
}

ul#social li a {
    display:block;
    width:100%;
}

#bio {
    text-align:center;
}

a { line-height: 120% }
a:link { color: #ccbbff; }
a:hover { color: #ff0000; }
a:visited {color: #ccbbff; }

pre {
    width:90%;
    text-align:center;
  margin:0 auto;
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -pre-wrap;     /* Opera 4-6 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  white-space: pre-wrap;      /* CSS3 */
  word-wrap: break-word;      /* IE 5.5+ */
}

div#wiki {
	margin:0 auto;
	padding: 5px;
	text-align: center;
	border:1px dotted #99FF99;
	width:240px;
}
div#wiki a{
	margin-top:10px;
	display:block;
	text-decoration:none;
	font-size:125%;

}
